/*Main Tags and Styles*/

* {
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}

h1{
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
}

h2{
    font-size: xxx-large;
    font-family: 'Amatic SC', cursive;
    color: dimgrey;
}

h3{
    font-size: xx-large;
    font-family: 'Amatic SC', cursive;
    color: dimgrey;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:" header header"
                        " navbar main"
                        " footer footer";
    }

.login_logo{
    padding-right: 0.5em;
}

/*Navbar styles*/

nav{
    grid-area: navbar;
    background-color: #EC7E6F;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

nav>ul>li>a{
    text-decoration: none;
    color: #DE8474;
    font-size: xx-large;
}

nav>ul>li:nth-child(even)>a{
    text-decoration: none;
    color: #FFEBCD;
    font-size: xx-large;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    color: #DE8474;
}

ul li:nth-child(even){
    height: 100%;
    width: 100%;
    background-color: #DE8474;
    font-family: 'Amatic SC', cursive;
    color: #FFFFFF;
}

/*Header styles*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    grid-area: header;
    background-color: #E7B08E;
    font-family: 'Amatic SC', cursive;
    color: #FFFFFF;
    font-size: xxx-large;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    background-color: darksalmon;
}

/*Main*/

main{
    grid-area: main;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Welcome Section*/

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*Book Section*/

#book{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book img{
    float: right;
    margin-right: 3em;
}

#book p{
    width:70%;
}

#book p>h2{
    display: inline;
}

#book .pic_link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#book button{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: lightblue;
    border-color: dimgrey;
    border-radius: 3px;
}

#book button a{
    color: white;
    text-decoration: none;
}

#book section{
    margin-left: 48px;
}

#book{
    display: flex;
}

#book img{
    float: none;
}

.main_container{
    height: 100%;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 1em;
}

/*Form Styles*/

.form_container{
    padding: 30px;
    height: 100%;
    width: 100%;
}

.myform{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: auto;
    width: fit-content;
    border-color: dimgrey;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    padding:20px 20px 20px 20px;
}

.myform input{
    margin-top:10px;
    ;
}

.myform label{
    margin-top:10px;
    margin-left:10px;
}

.myform_v2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: fit-content;
    border-color: dimgrey;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    padding:20px 20px 20px 20px;
    grid-template-areas:    "myform_v2_q1    myform_v2_q3"
                            "myform_v2_q2     myform_v2_q3";
    gap: 10px;
}

.myform_v2 label{
    padding-bottom: 10px;
}

.myform_v2_q1{
    grid-area: myform_v2_q1;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 10px;

}

.radio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.myform_v2_q2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: myform_v2_q2;
}

.myform_v2_q3{
    grid-area: myform_v2_q3;
    padding-left: 10%;
}

.myform_v3{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap:1em;
}

/*Place styles*/

.place_container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows:auto;
    grid-template-areas: "text gallery"
                        "text gallery"
                        "big_pic gallery"
                        "big_pic link";
    width: 100%;
    height: 100%;
    z-index: -1;
}

.place_container .gallery {
    grid-column: 2/3;
    grid-row: 1/5;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height:90%;
    gap: 3px;
    margin-right: 48px;
    justify-content: center;
}

.place_container button{
    grid-area: link;
    width:60%;
    margin-left: auto;
    margin-right: 71px;
    background-color: lightblue;
    border-color: dimgrey;
    border-radius: 3px;
}

.place_container button a{
    color: white;
    text-decoration: none;
}

.pic1{
}

.pic2{
}

.pic3{
}

.pic4{
}

.pic5{
}

.maps_link{
    grid-area: maps_link;
}

.big_pic1{
    grid-area: big_pic;
    display: none;
    width: 640px;
    height: 315px;
    padding-left: 3em;
}

.big_pic2{
    grid-area: big_pic;
    display: none;
    width: 690px;
    height: 315px;
    padding-left: 3em;
}

.big_pic3{
    grid-area: big_pic;
    display: none;
    width: 690px;
    height: 315px;
    padding-left: 3em;
}

.big_pic4{
    grid-area: big_pic;
    display: none;
    width: 690px;
    height: 315px;
    padding-left: 3em;
}

.big_pic5{
    grid-area: big_pic;
    display: none;
    width: 690px;
    height: 315px;
    padding-left: 3em;
}

.place_container:has(.gallery:hover):has(.pic1:hover) > .big_pic1{
    display: block;
}

.place_container:has(.gallery:hover):has(.pic2:hover) > .big_pic2{
    display: block;
}

.place_container:has(.gallery:hover):has(.pic3:hover) > .big_pic3{
    display: block;
}

.place_container:has(.gallery:hover):has(.pic4:hover) > .big_pic4{
    display: block;
}

.place_container:has(.gallery:hover):has(.pic5:hover) > .big_pic5{
    display: block;
}

.place_container p{
    max-height: fit-content ;
    max-width: 70%;
}

.place_container section{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 3em;

}

.place_container section>h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.place_container section>h3{
    margin-bottom: 0;
    margin-top: 0;
}

/*Footer styles*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #E7B08E;
    font-family: 'Kolker Brush', cursive;
    color: #FFFFFF;
    font-size: xxx-large;
}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}

/*Media Query for Mobile portrait*/

@media only screen and (max-width:600px){
    .container{
        display: flex;
        flex-direction: column;
        height:100%;
    }

    main{
        overflow-y: visible;
    }

    #book{
        display: flex;
        flex-direction: column;
    }

    #welcome{
        height:100%;
        padding-bottom: 10em;
    }

    #welcome>section{
        margin-bottom: 10em;
    }

    .form_container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0;
    }

    .myform{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .myform_v2{
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .myform_v2_q3{
        padding: 0;
    }

    .myform_v3{
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .place_container button{
        width: fit-content;

    }

    .place_container:has(.gallery:hover):has(.pic1:active) > .big_pic1{
        display: block;
    }

    .place_container:has(.gallery:hover):has(.pic2:active) > .big_pic2{
        display: block;
    }

    .place_container:has(.gallery:hover):has(.pic3:active) > .big_pic3{
        display: block;
    }

    .place_container:has(.gallery:hover):has(.pic4:active) > .big_pic4{
        display: block;
    }

    .place_container:has(.gallery:hover):has(.pic5:active) > .big_pic5{
        display: block;
    }

    .place_container{
        display: flex;
        flex-direction: column;
    }

    .big_pic1{
        display: none;
        width: 100%;
        height: 315px;
        padding-left: 0;
    }

    .big_pic2{
        display: none;
        width: 100%;
        height: 315px;
        padding-left: 0;
    }

    .big_pic3{
        display: none;
        width: 100%;
        height: 315px;
        padding-left: 0;
    }

    .big_pic4{
        display: none;
        width: 100%;
        height: 315px;
        padding-left: 0;
    }

    .big_pic5{
        display: none;
        width: 100%;
        height: 315px;
        padding-left: 0;
    }

    .gallery{
        margin-right: 0;
    }

}

/*Dark Mode*/

body.dark p{
    color: white;
}

body.dark nav>ul>li{
    background-color: darkslateblue;
}

body.dark nav>ul>li:nth-child(odd)>a{
    color:#89CA78;
}

body.dark nav>ul>li:nth-child(even){
    background-color: lightslategrey;
}

body.dark>header{
    background-color: dimgrey;
}

body.dark>footer{
    background-color: dimgrey;
}

body.dark>.container>main>#welcome>h2{
    color: white;
}

body.dark>.container>main>#welcome>h3{
    color: white;
}

body.dark>.container>main>#book>section>h3{
    color: white;
}

body.dark>.container>main>#book>section>h2{
    color: white;
}

body.dark>.container>main>.place_container>section>h2{
    color: white;
}

body.dark>.container>main>.place_container>section>h3{
    color: white;
}

body.dark button{
    background-color: #686868FF;
}

body.dark button>a{
    color: #89CA78;
}

body.dark #book button{
    background-color: #686868FF;
}

body.dark #book button>a{
    color: #89CA78;
}

body.dark{
    background-color: lightgray;
}

body.dark>.container>main{
    background-color: #282C34FF;
}

body.dark>.container>main>img{
    border-style: solid;
    border-color: lightgray;
    border-width: thick;
}

body.dark label{
    color: white;
}

body.dark>.container>header{
    background-color: #21252BFF;
}

body.dark>.container>footer{
    background-color: #21252BFF;
}

body.dark>.container>main>.form_container>h3{
    color: white;
}

body.dark>.container>main>.form_container>form>.myform{
    border-color: white;
}

body.dark>.container>main>.form_container>form>.myform_v2{
    border-color: white;
}